<div class="container py-4">
  <h3>Payment Page</h3>

  <div *ngIf="orderDetails">
    <h5>Order #{{ orderId }}</h5>
    <table class="table table-bordered mt-3">
      <thead class="table-light">
        <tr>
          <th>Product</th>
          <th>Qty</th>
          <th>Price</th>
         
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of orderDetails.items">
          <td>{{ item.productName }}</td>
          <td>{{ item.quantity }}</td>
          <td>₹{{ item.price }}</td>
          
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="orderDetails" class="mt-4">
    <h5>Payment Summary</h5>
    <p><strong>Amount:</strong> ₹{{ orderDetails.totalAmount }}</p>

    <button class="btn btn-success" (click)="makePayment()">
      Pay ₹{{ orderDetails.totalAmount }}
    </button>
  </div>
  <button class="btn btn-secondary" style="margin-top: 10px;"  (click)="goBack()">
      ← Back to Products
    </button>
   <div class="d-flex gap-2">
   
  <div *ngIf="paymentStatus" class="alert mt-3"
       [ngClass]="{'alert-success': paymentStatus.includes('✅'),
                   'alert-danger': paymentStatus.includes('❌')}">
    {{ paymentStatus }}
  </div>
</div>
