<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img
        src="assets/images/logo.jpg"
        alt="Logo"
        width="50"
        height="50"
        class="me-2"
      />
      <b>GroXart</b>
      <hr />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item me-2">
          <a
            class="btn btn-warning btn-sm px-3 d-flex align-items-center"
            routerLink="/login"
          >
            <i class="bi bi-box-arrow-in-right me-1"></i> Login
          </a>
        </li>

        <li class="nav-item dropdown">
          <a
            class="btn btn-outline-dark btn-sm dropdown-toggle d-flex align-items-center"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
          >
            <i class="bi bi-person-plus me-1"></i> Register
          </a>
          <ul class="dropdown-menu dropdown-menu-end shadow-sm">
            <li>
              <a class="dropdown-item" routerLink="/register/customer"
                ><i class="bi bi-people me-2"></i> Customer</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="/register/shopkeeper"
                ><i class="bi bi-shop me-2"></i> Shopkeeper</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="/register/delivery"
                ><i class="bi bi-truck me-2"></i> Delivery Person</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<hr class="m-0 p-0 text-dark" />
